.container {
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 15px;
}

.container img {
  height: 20px;
}

@media screen and (width>=630px) {
  .container {
    height: 70px;
    padding: 0 20px;
  }
  .container img {
    height: 20px;
  }
}
@media screen and (width>=1000px) {
  .container {
    height: 70px;
    padding: 0 30px;
  }
}
